<!--        <p>Content: content.rounded!}</p> TODO find a way to make this work -->
<div class="cms-component image-component">
        <img style="border-radius: 25%" align="${content.selection!}" src="${content.image!}" width="${content.slider!}%">
    </div>
</div>